@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/*Estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/*Estilo do cabeçalho*/
header {
    background-color: white;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo {
    height: 48px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
}

nav ul li a {
    color: #5c5c5c;
    text-decoration: none;
    font-size: 1.125em;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

nav ul li a:hover {
    color: #8B0000;
    transform: scale(1.05);
}

/* Estilo do conteúdo principal */
.sobre-nos {
    background: linear-gradient(to right, #8B0000, #4B0082, #000080);
    color: white;
    padding: 80px 0;
    text-align: center;
}

.sobre-nos h2 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 24px;
}

.sobre-nos p {
    font-size: 1.25em;
    max-width: 800px;
    line-height: 1.6;
    margin: 0 auto 32px auto;
}

/* Estilo do banner */
.banner {
    background: linear-gradient(to right, #8B0000, #4B0082, #000080);
    color: white;
    padding: 80px 0;
    text-align: center;
}

.banner h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 48px;
}

.banner p {
    font-size: 1.25em;
    max-width: 800px;
    line-height: 1.6;
    margin: 0 auto;
}

/* Estilo dos nossos serviços */
.servicos {
    background-color: #f4f4f4;
    padding: 64px 0;
}

.servicos h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #003777;
    margin-bottom: 48px;
}

.servicos .card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.servicos .card_container .cards {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicos .card_container .cards:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.servicos .card_container .cards h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #003777;
    margin-bottom: 8px;
}

.servicos .card_container .cards p {
    color: #4b5563;
}

/*Estilo formulário de contato*/

.contato-section{
    background-color: #e4eef5;
    min-height: 400px;
    padding: 64px 0;
}

.contato-section h2{
    text-align: center;
    font-weight: bold;
    color: #003777;
    margin-bottom: 48px;
    font-size: 2.25em;
}

.contato-form{
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    max-width: 700px;
    margin: 0 auto;
}

.contato-form label{
    display: block;
    color: #003777;
    font-size: 0.875em;
    font-weight: bold;
    margin-bottom: 8px;
}

.contato-form input, .contato-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0ee;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contato-form input:focus,
.contato-form textarea:focus{
    outline: none;
    border-color: #000080;
    box-shadow: 0 0 0 1px #003777;
}

.contato-button{
    background-color: #a54540;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    cursor:pointer;
    display: block;
    margin-top: 14px;
    width: 100%;
}

.contato-button:hover{
    background-color: #003777;
    transition: background-color 0.3s ease;
}

/* Estilo Processos */
.processos-container{
    margin-top: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.processos-cards{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.processos-button-container{
    text-align: center;
}

.processos-button{
    background-color: #a54540;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.6s;
}

.processos-button:hover{
    background-color: #003777;
}

/* Mensagens de feedback (Flash) */
.alert {
    max-width: 700px;
    margin: 20px auto;
    padding: 14px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}

.alert-sucesso {
    background-color: #e6fffa;
    color: #065f46;
    border: 1px solid #34d399;
}

.alert-erro{
    background-color: #f8d7da;
    color: black;
    border: 1px solid #a54540;
}

/* Estilo tabela */

.tabela-container{
    overflow-x: auto;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 32px;
}

.tabela-container .tabela-gerenciar{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.tabela-gerenciar thead{
    background-color: #003777;
    color: white;
    width: 100%;
}

.tabela-gerenciar th,
.tabela-gerenciar td{
    padding: 12px 24px;
    text-align: left;
    border: 1px solid #e4eef5;
}

.tabela-gerenciar th{
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
}

.tabela-gerenciar tbody, tr:nth-child(even){
    background-color: #a54540;
}

.tabela-botoes-container{
    display: flex;
    gap: 8px;
    justify-content: left;
}

.botao-tabela{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
}

.coluna-url a{
    color: white;
}

.coluna-botoes{
    max-width: 230px;
}

/* Estilização da página de agendamentos*/
section.agendamentos {
    padding: 40px 4%;
}

section.agendamentos.flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.agendamentos h1{
    color: #003777;
    font-size: 40px;
    line-height: 35px;
    margin-top: 120px;
}

.agendamentos .txt-agendamentos p{
    color: black;
    margin: 40px 0;
    text-align: justify;
}

.agendamentos .img-agendamentos img{
    position: relative;
}

.btn-form{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #003777;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.realizar{
    background-color: #f4f4f4;
    padding: 64px 0;
}

.realizar h2{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #003777;
    margin-bottom: 48px;
}

.realizar .card-agenda{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.realizar .card-agenda .card-escolher{
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.realizar .card-agenda .card-escolher:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.realizar .card-agenda .card-escolher h3{
    font-size: 1.5em;
    font-weight: bold;
    color: #003777;
    margin-bottom: 8px;
}

.realizar .card-agenda .card-escolher p{
    color: #4b5563;
}

/* Estilo do rodapé */
footer {
    background-color: white;
    color: #003777;
    padding: 60px 10% 30px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

footer > div:not(.direitos){
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .direitos {
        grid-column: span 2;
    }
}

.logo_footer img {
    max-width: 180px;
    margin-bottom: 20px;
    display: block;
}

.logo_footer p {
    color: #ccc;
    font-size: 0.95em;
    margin-bottom: 20px;
}

.logo_footer a {
    color: #000080;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.logo_footer a:hover {
    color: #8B0000;
}

.contato h3 {
    font-size: 1.2rem;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contato ul {
    list-style: none;
    padding: 0;
}

.contato li {
    color: #5a5959;
    margin-bottom: 12px;
    font-size: 0.9rem;
}

hr {
    border: 0;
    border-top: 1px solid red;
    margin-bottom: 20px;
}

.direitos {
    text-align: center;
    padding-top: 20px;
}

.direitos p {
    color: #5a5959;
    font-size: 0.85em;
}

@media (max-width: 767px) {
    footer > div:not(.direitos) {
        width: 100%;
        text-align: center;
    }

    .contato h3 {
        margin-top: 20px;
    }
}