<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site da assessoria educacional Salvattore">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>{% block title %}Salvattore Assessoria{% endblock %}</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/SA-Photoroom.png') }}" alt="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('pagina_principal') }}">Início</a></li>
                <li><a href="{{ url_for('pagina_principal') }}#sobre">Sobre nós</a></li>
                <li><a href="{{ url_for('contato') }}">Entre em contato</a></li>
                <li><a href="{{ url_for('pagina_principal') }}#nossos_servicos">Nossos serviços</a></li>
                <li><a href="">Agendamentos</a></li>
                <li><a href="{{ url_for('processos_seletivos') }}">Processos abertos</a></li>
                {% if 'usuario_logado' in session %}
                <li><a href="{{ url_for('admin.gerenciar_processos') }}">Gerenciar</a></li>
                {%endif%}
                {% if 'usuario_logado' in session %}
                    <li><a href="{{ url_for('admin.logout') }}"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                {% else %}
                    <li><a href="{{ url_for('admin.login') }}"><i class="fa-solid fa-user"></i></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for categoria, mensagem in messages %}
          <div class="alert alert-{{ categoria }}">
            {{ mensagem }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

        
        
        {%block content%}
        {%endblock%}
    </main>

    <footer id="rodape">
        <div class="logo_footer">
            <img src="{{ url_for('static', filename='images/SA footer-Photoroom.png') }}" alt="logo_footer" class="logo">
            <p>Transformando a gestão pública com inovação e eficiência</p>
            <a href="https://www.instagram.com/salvattore.assessoria?igsh=MWUwZnBxM3lmNXJ5bw=="><i class="bi bi-instagram"></i></a>
        </div><!--logo_footer-->
        <div class="contato">
            <h3>Contato</h3>
            <ul>
                <li><i class="bi bi-envelope"></i>  email@gmail.com</li>
                <li><i class="bi bi-telephone"></i>  +55 83 xxxx-xxxx</li>
                <li><i class="bi bi-geo-alt"></i>  Patos, Paraíba</li>
            </ul>
        </div><!--contato-->
        <hr>
        <div class="direitos">
            <p>&copy; 2025 Salvattore. Todos os direitos reservados</p>
        </div><!--direitos-->
    </footer>
</body>
</html>