{% extends "base.html" %}

{% block title %}
Início
{% endblock %}

{% block content %}
    <section class="banner">
        <div class="banner">
            <h2>Salvattore Assessoria</h2>
            <p>Transformando a gestão pública com inovação e eficiência</p>
        </div><!-- banner-texto -->
    </section><!-- banner -->
    <section class="servicos" id="nossos_servicos">
        <h2>Nossos serviços</h2>
        <div class="card_container">
            <div class="cards">
                <img src="static/images/SA só nome-Photoroom.png" alt="assinatura_salvattore" class="logo-card">
                <h3>Assessoria</h3>
                
                <p>Atuamos no diagnóstico de necessidades, na elaboração de projetos pedagógicos e na implementação de soluções alinhadas às demandas institucionais, sempre orientados por metodologias ativas e práticas contemporâneas de ensino-aprendizagem.</p>
            </div>
            <div class="cards">
                <img src="static/images/SA só nome-Photoroom.png" alt="assinatura_salvattore" class="logo-card">
                <h3>Consultoria em Educação</h3>
                
                <p>Oferecemos assessoria e consultoria educacional para instituições públicas e privadas, apoiando o planejamento, a gestão e a inovação de processos educativos.</p>
            </div>
            <div class="cards">
                <img src="static/images/SA só nome-Photoroom.png" alt="assinatura_salvattore" class="logo-card">
                <h3>Formação para professores</h3>
                
                <p>Formação continuada para professores, com foco na atualização pedagógica, inovação didática e uso de metodologias ativas. Nossos cursos articulam teoria e prática, promovendo aulas dinâmicas, significativas e alinhadas aos desafios atuais da educação, fortalecendo o protagonismo docente e a aprendizagem dos estudantes.</p>
            </div>
            <div class="cards">
                <img src="static/images/SA só nome-Photoroom.png" alt="assinatura_salvattore" class="logo-card">
                <h3>Formação para Profissionais de Saúde</h3>
                
                <p>Cursos e capacitações voltados a profissionais da área da saúde, priorizando a qualificação técnica, científica e humana. São construídas sob demanda, com metodologias ativas e foco na prática profissional, contribuindo para a melhoria dos serviços de saúde e para a inovação nos processos de cuidado.</p>
            </div>
            <div class="cards">
                <img src="static/images/SA só nome-Photoroom.png" alt="assinatura_salvattore" class="logo-card">
                <h3>Processos Seletivos</h3>
                
                <p>Elaboramos e executamos processos seletivos completos, desde o planejamento e construção dos instrumentos avaliativos até a aplicação e análise dos resultados. Nossos processos são personalizados, éticos e transparentes, garantindo rigor técnico, confiabilidade e alinhamento aos objetivos e perfis definidos pelas instituições contratantes.</p>
            </div>
            <div class="cards">
                <img src="static/images/SA só nome-Photoroom.png" alt="assinatura_salvattore" class="logo-card">
                <h3>Treinamentos</h3>
                
                <p>Implementamos soluções estratégicas de treinamento e desenvolvimento. Nossos programas são construídos sob medida, partindo de um diagnóstico preciso de necessidades e utilizando metodologias ativas que articulam a teoria à realidade prática. Focamos na criação de experiências de aprendizagem dinâmicas e significativas, que impulsionam a inovação, fortalecem competências técnicas e comportamentais, e geram impacto direto nos resultados institucionais.</p>
            </div>
        </div>
    </section><!-- serviços -->
    <section class="sobre-nos" id="sobre">
        <h2>Sobre nós</h2>
        <div class="sobre-nos">
            <div class="sobre-nos">
                <p>
                 Na Salvattore Assessoria, acreditamos que a gestão pública pode — e deve — ser sinônimo de eficiência, transparência e inovação. 
                 Somos uma consultoria especializada em elevar o padrão das políticas públicas no Brasil, 
                 unindo o rigor acadêmico à experiência prática de quem conhece os desafios do "chão da gestão".
                </p>
                <h3>Nossa Missão</h3>
                <p>
                 Transformar a administração pública através de soluções baseadas em evidências, capacitando líderes e 
                 otimizando processos para que o impacto chegue onde realmente importa: na vida do cidadão.
                </p>

                <h3>O que nos move?</h3>
                <p>
                 Não entregamos apenas diagnósticos; entregamos o "próximo nível". 
                 Isso significa que nossa atuação vai além do papel, 
                 focando na implementação real e na sustentabilidade das soluções propostas.Atuamos em três frentes principais:<br>
                 Inteligência Estratégica: Consultoria de alto impacto.<br>
                 Suporte Operacional: Assessoria técnica especializada.<br>
                 Legado de Conhecimento: Treinamentos que transformam servidores em agentes de inovação.
                </p>
            </div><!-- sobre-nos-texto -->
        </div><!-- sobre-nos-container -->
    </section><!-- Sobre-nos -->
{% endblock %}