{% extends "base.html" %}

{% block title %}
Início
{% endblock %}

{% block content %}
    <section class="banner">
        <div class="banner-texto">
            <h2>Salvattore Assessoria</h2>
            <p>Transformando a gestão pública com inovação e eficiência</p>
        </div><!-- banner-texto -->
    </section><!-- banner -->
    <section class="Sobre-nos">
        <h2>Sobre nós</h2>
        <div class="sobre-nos-container">
            <div class="sobre-nos-texto">
                <p>
                 Na Salvattore Assessoria, acreditamos que a gestão pública pode — e deve — ser sinônimo de eficiência, transparência e inovação. 
                 Somos uma consultoria especializada em elevar o padrão das políticas públicas no Brasil, 
                 unindo o rigor acadêmico à experiência prática de quem conhece os desafios do "chão da gestão".
                </p>
                <h3>Nossa Missão</h3>
                <p>
                 Transformar a administração pública através de soluções baseadas em evidências, capacitando líderes e 
                 otimizando processos para que o impacto chegue onde realmente importa: na vida do cidadão.
                </p>

                <h3>Oque nos move?</h3>
                <p>
                 Não entregamos apenas diagnósticos; entregamos o "próximo nível". 
                 Isso significa que nossa atuação vai além do papel, 
                 focando na implementação real e na sustentabilidade das soluções propostas.Atuamos em três frentes principais:<br>
                 Inteligência Estratégica: Consultoria de alto impacto.<br>
                 Suporte Operacional: Assessoria técnica especializada.<br>
                 Legado de Conhecimento: Treinamentos que transformam servidores em agentes de inovação.
                </p>
            </div><!-- sobre-nos-texto -->
        </div><!-- sobre-nos-container -->
    </section><!-- Sobre-nos -->
    <section class="servicos">
        <h2>Nossos serviços</h2>
        <div class="card_container">
            <div class="cards">
                <img src="" alt="logo_1">
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum</p>
            </div>
            <div class="cards">
                <img src="" alt="logo_2">
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum</p>
            </div>
            <div class="cards">
                <img src="" alt="logo_3">
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum</p>
            </div>
            <div class="cards">
                <img src="" alt="logo_4">
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum</p>
            </div>
        </div>
    </section><!-- serviços -->
{% endblock %}